<div class="container">
	<div class="row l-home">
		<div class="col-xs-12 col-md-4">
			<h2>About me</h2>
			<p>
				I am UI/UX Designer and Front end Developer from Fresno CA.
			</p>
			<p>
				For over 3 years I have been developing &amp; designing websites.
			</p>
			<p>
				I want to thank you for visiting my site.
			</p>
			<p>
				 <%= link_to 'View Resume', 'https://www.linkedin.com/in/jeremyvenegas', :target=>'_blank' %> | <%= link_to 'About', pages_about_path %>
			</p>
		</div>
		<div class="col-xs-12 col-md-4 l-home-posts">
			<h2><%= link_to 'Updates', posts_path %></h2>
			<% @posts.each do |post| %>
					<h4 class="u-title">
						<%= link_to truncate(post.title, :length=>24), post %>
					</h4>
					<h5 class="u-date"><%= post.created_at.strftime('%A, %b %d') %></h5>
			<% end %>
			<%= link_to 'View all', posts_path %>
		</div>
		<div class="col-xs-12 col-md-4">
			<h2><%= link_to 'Projects', projects_path %></h2>
			<% @projects.each do |project| %>
					<h4 class="u-title">
						<%= link_to truncate(project.title, :length=>24), project %>
					</h4>
					<h5 class="u-date"><%= project.link %></h5>
			<% end %>
			<%= link_to 'View all', projects_path %>
		</div>
	</div>
</div>